.box{
  width: 100%;
  background: #ffffff;
  border: solid 1px #f7f6f4;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 30px;
}

.box h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 32px;
}
